          <div class="content-with-sidebar grid-75">
                     <p>If you already have an account with us, please login at the <a href="log-in.html" class="active-color dark-hover"><strong>login page</strong></a></p>
                     <form class="content-form margin-bottom" action="#" method="POST">
                        <div class="with-shadow grid-100 light-bg margin-bottom clearfix">
                           <div class="content-page grid-100">
                              <h2 class="bigger-header with-border subheader-font">
                                 Your personal details
                              </h2>
                              <div class="form-input">
                                 <label for="first_name" class="middle-color">First name <span class="active-color">*</span></label>
                                 <input type="text" class="text-input dark-color light-bg" name="first_name" id="first_name" value=""/>
                              </div>
                              <div class="form-input">
                                 <label for="last_name" class="middle-color">Last name <span class="active-color">*</span></label>
                                 <input type="text" class="text-input dark-color light-bg" name="last_name" id="last_name" value=""/>
                              </div>
                              <div class="form-input">
                                 <label for="email" class="middle-color">E-mail <span class="active-color">*</span></label>
                                 <input type="email" class="text-input dark-color light-bg" name="email" id="email" value=""/>
                              </div>
                              <div class="form-input">
                                 <label for="phone" class="middle-color">Telephone <span class="active-color">*</span></label>
                                 <input type="tel" class="text-input dark-color light-bg" name="phone" id="phone" value=""/>
                              </div>
                              <div class="form-input">
                                 <label for="mobile" class="middle-color">Mobile</label>
                                 <input type="tel" class="text-input dark-color light-bg" name="mobile" id="mobile" value=""/>
                              </div>
                           </div>
                        </div>

                        <p class="align-center middle-color">I have read and agree to the <a href="#" class="active-color dark-hover"><strong>Privacy Policy</strong></a></p>
                        <div class="form-submit">
                           <button type="submit" class="button-normal uppercase light-color middle-gradient dark-gradient-hover">Create new account</button>
                        </div>
                     </form>
                  </div>