<footer>
   <div class="footer-top grid-container clearfix">
      <div class="grid-50 grid-parent">
         <div class="grid-33 tablet-grid-33">
            <h3 class="light-color subheader-font">
               <strong>Our support</strong>
            </h3>
            <ul class="middle-color">
               <li class="light-hover">
                  <a href="#">Delivery Information</a>
               </li>
               <li class="light-hover">
                  <a href="#">Privacy policy</a>
               </li>
               <li class="light-hover">
                  <a href="#">Terms & Condition</a>
               </li>
               <li class="light-hover">
                  <a href="#">Contact us</a>
               </li>
            </ul>
         </div>
         <div class="grid-33 tablet-grid-33">
            <h3 class="light-color subheader-font">
               <strong>Our service</strong>
            </h3>
            <ul class="middle-color">
               <li class="light-hover">
                  <a href="my-account.html">My Account</a>
               </li>
               <li class="light-hover">
                  <a href="#">Order History</a>
               </li>
               <li class="light-hover">
                  <a href="#">Returns</a>
               </li>
               <li class="light-hover">
                  <a href="#">Site map</a>
               </li>
            </ul>
         </div>
         <div class="grid-33 tablet-grid-33">
            <h3 class="light-color subheader-font">
               <strong>Information</strong>
            </h3>
            <ul class="middle-color">
               <li class="light-hover">
                  <a href="about-us.html">About us</a>
               </li>
               <li class="light-hover">
                  <a href="#">Delivery information</a>
               </li>
               <li class="light-hover">
                  <a href="#">Privacy policy</a>
               </li>
               <li class="light-hover">
                  <a href="#">Terms & Condition</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="grid-50 grid-parent">
         <div class="grid-50 tablet-grid-50">
            <h3 class="light-color subheader-font">
               <strong>Payment</strong>
            </h3>
            <p class="middle-color">
               Lorem ipsum dolor sit amet, de consectetur adipiscing elit
            </p>
            <a href="#">
               <%= image_tag "icon-visa-e.png" %>
            </a>
            <a href="#">
               <%= image_tag "icon-mastercard.png" %>
            </a>
            <%= image_tag "icon-paypal.png" %>
            </a>
            <a href="#">
               <%= image_tag "icon-visa.png" %>
            </a>
         </div>
         <div class="grid-50 tablet-grid-50">
            <h3 class="light-color">
               <strong>Newsletter</strong>
            </h3>
            <p class="middle-color">
               Lorem ipsum dolor sit amet, de consectetur adipiscing elit
            </p>
            <form method="POST" action="homepage.html">
               <div class="input-with-button">
                  <input type="text" placeholder="Enter your email..." name="email" class="text-input dark-color light-bg">
                  <button type="submit" class="middle-color dark-hover"><i class="icon-plus"></i></button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="footer-bottom grid-container clearfix">
      <div class="footer-copyright middle-color grid-70">
         Copyright 2012 Shoppie. Designed by Viktor Karvai. Code by <a href="http://www.adamantium.sk" class="light-hover">Adamantum Solutions</a>. All Rights Reserved
      </div>
      <div class="footer-social grid-30">
         <a href="https://www.facebook.com/adamantium.solutions" class="middle-color light-hover transition-color" target="_blank">
         <i class="icon-facebook-sign"></i>
         </a>
         <a href="https://twitter.com/AdamantiumSol" class="middle-color light-hover transition-color" target="_blank">
         <i class="icon-twitter"></i>
         </a>
         <a href="http://www.linkedin.com/pub/michal-juras/28/166/375" class="middle-color light-hover transition-color" target="_blank">
         <i class="icon-linkedin-sign"></i>
         </a>
         <a href="http://pinterest.com/" class="middle-color light-hover transition-color" target="_blank">
         <i class="icon-pinterest-sign"></i>
         </a>
         <a href="https://plus.google.com/u/0/113332714808714572645/posts" class="middle-color light-hover transition-color" target="_blank">
         <i class="icon-google-plus-sign"></i>
         </a>
      </div>
   </div>
</footer>