<header>
   <nav class="top-menu grid-container hide-on-tablet hide-on-mobile">
      <div class="grid-100">
         <div class="fb-like" data-href="https://www.facebook.com/adamantium.solutions" data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
         <div class="top-menu-left">
            <ul>
               <li>
                  <a href="blog.html" class="dark-color">Blog</a>
               </li>
               <li>
                  <a href="about-us.html" class="dark-color">About Us</a>
               </li>
               <li>
                  <a href="my-account.html" class="dark-color">My Account</a>
               </li>
            </ul>
         </div>
         <div class="top-menu-right">
            <ul>
               <li>
                  <a href="log-in.html" class="dark-color" onclick="Global.clickShowToggle('#quick-login'); return false;">
                  <i class="icon-off"></i>
                  Log In
                  </a>
                  <form action="log-in.html" method="POST">
                     <ul class="popup-box quick-login cream-bg" id="quick-login">
                        <li class="arrow-top"><span class="shadow cream-bg"></span></li>
                        <li class="close-button">
                           <a href="#" class="circle-button middle-bg active-bg-hover" onclick="Global.clickShowToggle('#quick-login'); return false;"><span class="cancel"></span></a>
                        </li>
                        <li>
                           <input class="text-input dark-color light-bg" type="text" name="email" placeholder="your email">
                        </li>
                        <li>
                           <input class="text-input dark-color light-bg" type="password" name="password" placeholder="enter password">
                        </li>
                        <li class="clearfix">
                           <a href="forgotten.html" class="forgotten-link middle-color float-left">Have you forgotten<br/> your password?</a>
                           <button class="button-small button-with-icon float-right light-color middle-gradient dark-gradient-hover" type="submit">
                           Log in
                           <span><i class="icon-angle-right"></i></span>
                           </button>
                        </li>
                     </ul>
                  </form>
               </li>
               <li>
                  <a href="register.html" class="dark-color">Register</a>
               </li>
               <li id="languages-box-holder">
                  <a href="#" class="dark-color">
                  EN <i class="icon-caret-down"></i>
                  </a>
                  <ul class="languages-box popup-box cream-bg">
                     <li class="arrow-top"><span class="shadow cream-bg"></span></li>
                     <li class="focusor-top"></li>
                     <li>
                        <a href="#" class="dark-color">
                        <i class="icon-lang-en"></i>
                        English
                        </a>
                     </li>
                     <li>
                        <a href="#" class="dark-color">
                        <i class="icon-lang-de"></i>
                        German
                        </a>
                     </li>
                     <li>
                        <a href="#" class="dark-color">
                        <i class="icon-lang-fr"></i>
                        French
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="header-middle grid-container light-gradient">
      <div class="grid-100">
         <a href="homepage.html" class="header-logo grid-20" title="Shoppie">
         <img src="assets/img-shoppie.png" alt="Shoppie"/>
         </a>
         <div class="grid-80 remove-whitespaces">
            <div class="header-middle-box">
               <form class="input-with-submit header-search" action="#" method="POST">
                  <input type="text" class="text-input input-round dark-color light-bg" value="" placeholder="Search...">
                  <button type="submit" class="input-round-submit middle-color dark-hover"><i class="icon-search"></i></button>
               </form>
            </div>
            

         </div>
      </div>
   </div>
   <nav class="main-menu grid-container" id="main-menu">
      <div class="mobile-overlay"></div>
      <ul class="main-menu-mobile">
         <li class="middle-color light-hover">
            <a href="#menu-mobile" class="main-menu-item click-slide"><i class="icon-reorder"></i></a>
         </li>
         <li class="middle-color light-hover">
            <a href="homepage.html" class="main-menu-item"><i class="icon-home"></i></a>
         </li>
         <li class="main-menu-cart active-color light-hover">
            <a href="cart.html" class="main-menu-item">
            <i class="icon-shopping-cart">&nbsp;</i>
            39
            &nbsp;|&nbsp;
            954,00 &euro;
            </a>
         </li>
         <li class="middle-color light-hover">
            <a href="#sidebar-mobile" class="main-menu-item click-slide"><i class="icon-ellipsis-vertical"></i></a>
         </li>
      </ul>
      <ul class="main-menu-desktop dark-gradient transition-all" id="menu-mobile">
         <li class="middle-color light-hover home">
            <a href="homepage.html" class="main-menu-item transition-all"><i class="icon-home"></i></a>
         </li>
         <li class="middle-color light-hover back">
            <a href="#menu-mobile" class="main-menu-item click-slide"><i class="icon-chevron-left"></i></a>
         </li>
         <li class="light-color active-hover">
            <a href="products-grid.html" class="main-menu-item transition-all">Women</a>
            <ul class="mega-menu cream-bg full-width">
               <li class="mega-menu-active cream-gradient"></li>
               <li class="mega-menu-box">
                  <span class="mega-menu-title active-color clearfix">Categories</span>
                  <ul class="mega-menu-list">
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        View All <span class="middle-color">(3125)</span>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="light-color active-hover">
            <a href="products-grid.html" class="main-menu-item transition-all">Kids</a>
            <ul class="mega-menu cream-bg">
               <li class="mega-menu-active cream-gradient"></li>
               <li class="mega-menu-box">
                  <span class="mega-menu-title active-color clearfix">Inspiration</span>
                  <ul class="mega-menu-list">
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Denim Guide
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Holiday Fashion
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Holiday Lingerie
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Ladies' Spring Preview
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Gift Of The Week
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="light-color active-hover">
            <a href="products-list.html" class="main-menu-item transition-all">Shoes</a>
            <ul class="mega-menu cream-bg">
               <li class="mega-menu-active cream-gradient"></li>
               <li class="mega-menu-box">
                  <span class="mega-menu-title active-color clearfix">Categories</span>
                  <ul class="mega-menu-list">
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        View All <span class="middle-color">(3125)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover selected">
                        New Arrivals <span class="middle-color">(547)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Tops <span class="middle-color">(320)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Shirts & Blouses <span class="middle-color">(860)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Jumpers <span class="middle-color">(869)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Trousers <span class="middle-color">(118)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Jeans <span class="middle-color">(131)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Shorts <span class="middle-color">(238)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Dresses <span class="middle-color">(624)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Skirts <span class="middle-color">(329)</span>
                        </a>
                     </li>
                  </ul>
                  <ul class="mega-menu-list">
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Jackets & Coats <span class="middle-color">(197)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Blazers & Waistcoats <span class="middle-color">(328)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Sportswear <span class="middle-color">(741)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Lingerie <span class="middle-color">(228)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Nightwear <span class="middle-color">(328)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Socks & Tights <span class="middle-color">(129)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Accessories <span class="middle-color">(427)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Shoes <span class="middle-color">(15)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Cosmetics <span class="middle-color">(27)</span>
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Maternity Wear <span class="middle-color">(168)</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="mega-menu-box">
                  <span class="mega-menu-title active-color clearfix">Inspiration</span>
                  <ul class="mega-menu-list">
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Denim Guide
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Holiday Fashion
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Holiday Lingerie
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Ladies' Spring Preview
                        </a>
                     </li>
                     <li>
                        <a href="products-grid.html" class="dark-color active-hover">
                        Gift Of The Week
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </nav>
</header>